# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
# Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah tuple", T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
# Menampilkan tipe struktur data
type(T1)

tuple

**Latihan**

In [ ]:
# Buatlah tuplemu sendiri
t1 = (18, 3+5j, "Oktober", False, 12)
print("Ini adalah tuple", t1)

Ini adalah tuple (18, (3+5j), 'Oktober', False, 12)

**Sifat-sifat Tuple**

In [ ]:
# Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
# Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
# Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [ ]:
# Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tuple**

In [ ]:
# Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
# Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
t2 = (1, 1, 1, "satu")
print("Tuple t1:", t1)
print("Tuple t2:", t2)

t3 = t1 + t2
t3
print("Jika kedua tuple digabungkan:", t3)

Tuple t1: (18, (3+5j), 'Oktober', False, 12)
Tuple t2: (1, 1, 1, 'satu')
Jika kedua tuple digabungkan: (18, (3+5j), 'Oktober', False, 12, 1, 1, 1, 'satu')