# **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:


a.   `list()` : untuk mengubah menjadi list

b.   `tuple()` : untuk mengubah menjadi tuple

c.   `set()` : untuk mengubah menjadi set

d.   `dict()` : untuk mengubah menjadi dictionary

## **Mengkonversi tipe data list:**

In [1]:
#Membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [2]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## **Mengkonversi tipe data tuple:**

In [3]:
#Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [4]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## **Mengkonversi tipe data set:**

In [5]:
#Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [6]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

## **Mengkonversi tipe data list:**

In [7]:
#Membuat dictionary
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [10]:
#Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'alamat', 'umur'}

## **Latihan**

In [19]:
#Lakukan konversi struktur data yang kalian buat pada notebook-notebook
#sebelumnya menjadi list, tuple, set, dan dictionary

#list
list1 = [7, 9, 11]
list2 = ["bear","sunflo",66]

#tuple
t1 = (18, 3+5j, "Oktober", False, 12)
t2 = (1, 1, 1, "satu")

#set
set1 = {"red", "rose", True}
set2 = {7, 35, 1+2j}

#dictionary
dic = {'satu':1, 'tiga':3, 'lima':5, 'tujuh':7}

In [16]:
#Mengkonversi struktur data list
konv_tuple = tuple(list1)
konv_set = set(list2)
konv_dict = dict(zip(list1, list2))

#Melihat data yang telah dikonversi
print(konv_tuple)
print(konv_set)
print(konv_dict)

(7, 9, 11)
{'sunflo', 'bear', 66}
{7: 'bear', 9: 'sunflo', 11: 66}

In [20]:
#Mengkonversi struktur data tuple
konv_list = list(t1)
konv_set = set(t2)
konv_dict = dict(zip(t1, t2))

#Melihat data yang telah dikonversi
print(konv_list)
print(konv_set)
print(konv_dict)

[18, (3+5j), 'Oktober', False, 12]
{1, 'satu'}
{18: 1, (3+5j): 1, 'Oktober': 1, False: 'satu'}

In [21]:
#Mengkonversi struktur data set
konv_list = list(set1)
konv_tuple = tuple(set2)
konv_dict = dict(zip(set1, set2))

#Melihat data yang telah dikonversi
print(konv_list)
print(konv_tuple)
print(konv_dict)

[True, 'red', 'rose']
((1+2j), 35, 7)
{True: (1+2j), 'red': 35, 'rose': 7}

In [23]:
#Mengkonversi struktur data dictionary dari key dan value-nya
konv_list = list(dic.keys())
konv_tuple = tuple(dic.values())
konv_set = set(dic.keys())

#Melihat data yang telah dikonversi
print(konv_list)
print(konv_tuple)
print(konv_set)

['satu', 'tiga', 'lima', 'tujuh']
(1, 3, 5, 7)
{'lima', 'tujuh', 'satu', 'tiga'}